@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500&display=swap');
html, body {
    height: 100%;
    background-color: #2b0029;
    background-image: linear-gradient(black, #2b0029);
    background-attachment: fixed;
    color: #a067a7;
    margin: 0;

}

#welcome h1 {
    font-weight: 400;
    letter-spacing: 1rem;
}

* {
    font-family: 'Raleway', sans-serif;
    
}

#welcome button {
    margin-top: 3rem;
}

.btn-outline-primary {
    color: #dadafb;
    border-color: #dadafb;
    padding: .75rem 3rem;
    letter-spacing: 0.1em;
}

.btn-outline-primary:hover, .btn-outline-primary:active, .btn-outline-primary:focus, .btn-outline-primary.active {
    background: #dadafb;
    color: #2b0029;
    border-color: #dadafb;
}

a, .nav-link {
    color: #c47dcc;
}

a:hover, a.nav-link:hover {   
    color: #e6afec;
}

.btn-outline-primary:focus {
    box-shadow: 0 0 0 .25rem #dadafb83;
}

.container {
    max-width: 1100px;
}

.gallery-img {
    /* background-color: green; */
    /* padding: 2px; */
    margin: 10px;
    height: 200px;
    background-image: url("img/basquiat.jpg");
}

#featured {
    border: 1px solid #dadafb;
    padding: 5px;
}

.section-collections {
    margin-bottom: 4rem;
}

.img {
    height: 200px;
    width: 200px;
}

#more {
    background-image: none;
    height: 50px;
    background-color: #d3d3d31e;
    padding: 0;
}

#more button {
    display: block;
    width: 100%;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;
    
    z-index: 0;
    background-image: url("");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 50% 50%;
}

canvas {
    display: block;
    vertical-align: bottom;
}

.gallery-container {
    border: 1px solid white;
    margin: 10px;
    padding: 5px;
    /* height: 200px; */
    /* background-image: url("img/basquiat.jpg"); */
}

.gallery-imgg {
    /* border: 2px solid white; */
    margin: 5px;
    height: 100px;
    background-image: url("img/basquiat.jpg");
}